{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
   
    <!-- <style>
        table {
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
            color: black;
            text-align: center;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            color: black;
        }
    </style> -->

{% block content %}
<body id="wrapper">

    <!-- Start section1 -->
    <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 portfolio-item">
                        <div class="portfolio-one">
                            <div class="portfolio-head">
                                <div class="detail-img"><img src="{% static './img/detail/1.png' %}"></div>
                            </div>
                            <!-- End portfolio-head -->
                        </div>
                        <!-- End portfolio-item -->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 portfolio-item">
                        <div class="portfolio-one">
                            <div class="portfolio-content">
                                <p class="detail-page-section-1-1">연 수익률</p>
                                <p class="detail-page-section-1-2">14.71%</p><br />
                                <table style="width: 100%; border: 1px solid black; border-collapse: collapse; color: black; text-align: center;">
                                    <tbody>
                                        <tr>
                                            <td style="border: 1px solid black; padding: 10px; color: black;">가입기간 : 20년</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid black; padding: 10px; color: black;">등급 : A</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid black; padding: 10px; color: black;">현재 모인 금액 : 7억원</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid black; padding: 10px; color: black;">최소 모집 금액 : 10억원</td>
                                        </tr>
                                    </tbody>
                                </table><br />
                                <a href="{% url 'success' %}" class="btn btn-primary btn-detail">투자하기</a>
                            </div>
                        </div>
                        <!-- End portfolio-item -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 portfolio-item">
                        <div class="portfolio-one">
                            <div class="portfolio-content">
                                <h4 class="title"><b>펀드가입시 유의사항</b></h4><br />
                                <p>펀드의 수익률은 세금공제 전의 수익률이므로 투자자(수익자)가 환매(출금)하는 경우 실제 실현수익률과는 세금만큼의 차이가 발생할 수 있습니다.<br />또한 투자자가 환매 수수료 부과기간 이내에 환매하는 경우에는 환매수수료 만큼의 차이가 추가로 발생할 수 있습니다.<br />집합투자증권은 운용결과에 따른 이익 또는 손실이 투자자에게 귀속됩니다.<br />집합투자증권을 취득하시기 전에 투자대상, 보수, 수수료 및 환매방법 등에 관하여 (간이)투자설명서를 반드시 읽어 보시기 바랍니다.<br />이 금융투자상품(집합투자증권)은 예금자보호법에 따라 예금보험공사가 보호하지 않습니다.<br />과거의 운용실적이 미래의 수익률을 보장하는 것은 아닙니다.<br />외화자산의 경우 환율변동에 따라 손실이 발생할 수 있습니다.<br />MMF는 시가와 장부가의 차이가 ±0.5%를 초과하거나 초과할 우려가 있는 경우 기준가격 적용기준이 적용기준시가로 전환됩니다.<br />하이일드채권은 투자원금 손실이 크게 발생할 수 있습니다.<br />월지급식펀드 상품은 투자(운용)결과가 부진할 경우 월지급액이 투자원금에서 지급되어 투자원금이 감소될 수 있으며, 경우에 따라서는 월지급이 조기에 중단될 수 있습니다.<br />과세기준 및 과세방법은 향후 세법개정 등에 따라 변동될 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End section1 -->

    <!-- Start footer -->
{% endblock %}