{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

{% block content %}
<body id="wrapper">

    <!-- Start section1 -->
    <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 portfolio-item">
                        <div class="portfolio-one">
                            <div class="portfolio-head">
                                <div class="detail-img text-center"><img src="{% static './img/detail/1.png' %}"><br />458,417 원 / 5% 적용중 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;참여자가 많을수록 조건이 달라집니다.</div>
                            </div>
                            <img src="{% static './img/detail/bar.png' %}">
                        </div>
                        <!-- End portfolio-item -->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 portfolio-item">
                        <div class="portfolio-one">
                            <div class="portfolio-content">
                                <p class="detail-page-section-1-1"><br />연 수익률</p>
                                <p class="detail-page-section-1-2">14.71%</p><br />
                                <table style="width: 100%; border: 1px solid black; border-collapse: collapse; color: black; text-align: center;">
                                    <tbody>
                                        <tr>
                                            <td style="border: 1px solid black; padding: 10px; color: black;">가입기간 : 20년</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid black; padding: 10px; color: black;">등급 : A</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid black; padding: 10px; color: black;">현재 모인 금액 : 7억원</td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid black; padding: 10px; color: black;">최소 모집 금액 : 10억원</td>
                                        </tr>
                                    </tbody>
                                </table><br />
                                <a href="{% url 'success' %}" class="btn btn-primary btn-detail" style="margin-bottom: 8px;">투자하기</a>
                            </div>
                        </div>
                        <!-- End portfolio-item -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 portfolio-item">
                        <div class="portfolio-one">
                            <div class="portfolio-content" style="margin-left: 20px;">
                                <table cellspacing="0" summary="상품유형, 순자산, 벤치마크 등의 항목으로 구성된 모펀드 상세정보입니다." class="row">
                                    <colgroup><col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" /></colgroup>
                                    <tbody>
                                        <tr>
                                            <th scope="row" title="투자지역">투자지역</th>
                                            <td class="rline">해외</td>
                                            <th scope="row" title="투자대상자산의 비중에 따른 분류로&#10;주식형, 채권형, 혼합형으로 나누어집니다.">상품유형</th>
                                            <td>주식혼합형 <span style="color:#ffffff;"> 2X41 </span> </td>
                                        </tr>
                            
                                        <tr>
                                            <th scope="row" title="	펀드가 운용되는 총금액에서 부채등을 차감한&#10;실제로 순수하게 운용되는 펀드의 가치를 반영한&#10;펀드의 실제 운용액입니다.">순자산(억)</th>
                                            <td class="rline">188 (각 Class 순자산의 합계)</td>
                                            <th scope="row" title="펀드의 수익률을 비교하는 '기준 수익률'로&#10;투자성과를 비교하기 위한 비교지수 입니다.">벤치마크</th>
                                            <td></td>
                                        </tr>
                            
                                        <tr>
                                            <th scope="row" title="기준가의 금액이 확정되는 날짜를 말합니다.&#10;펀드의 종류 및 환매청구 시점에 따라&#10;환매에 적용되는 기준가격과 환매대금 지급일이&#10;다소 달라집니다.">환매기준일</th>
                                            <td colspan="3">17시&nbsp;이전&nbsp;04영업일&nbsp;기준가격으로&nbsp;08영업일&nbsp;환매&nbsp;/&nbsp;17시&nbsp;경과후&nbsp;05영업일&nbsp;기준가격으로&nbsp;09영업일&nbsp;환매</td>
                                        </tr>
                            
                                        <tr>
                                            <th scope="row" title="운용부서">운용부서</th>
                                            <td colspan="3">글로벌운용본부</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="portfolio-one">
                                
                            <div class="portfolio-content" style="margin-left: 20px;">
                                    <h4 style="margin-left: -20px;">Class A</h4><br />
                                    <table cellspacing="0" class="row">
                                    <colgroup><col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" /></colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row">클래스안내</th>
                                        <td colspan="3">수수료선취-오프라인</td>
                                    </tr>

                                    <tr>
                                        <th scope="row" title="펀드를 본격적으로 운용하기 시작한 날짜 입니다.">설정일</th>
                                        <td class="rline">2017-07-26</td>
                                        <th scope="row" title="펀드가 운용되는 총금액에서 부채등을 차감한&#10;Class 펀드의 실제 운용액 입니다.">순자산(억원)</th>
                                        <td>29</td>
                                    </tr>
                    
                                    <tr>
                                        <th scope="row" title="펀드를 사고 팔때 기준이 되는 가격입니다.">기준가격</th>
                                        <td class="rline">1,083.05 / 2019-11-19 &nbsp;&nbsp;</td>
                                        <th scope="row" title="위탁자 및 수탁자에게 신탁업무수행의 대가로서&#10;신탁재산에서 지불되는 보수 입니다.">보수(年)</th>
                                        <td>총 0.985%  (운용 0.32%, 판매 0.62%, 기타 0.045%)</td>
                                    </tr>
                    
                                    <tr>
                                        <th scope="row" title="은행, 증권사 등 펀드판매사들이 펀드를 판매할 때&#10;위험 설명 등을 해주는 대가로 원금에 대해&#10;먼저 수취하는 수수료 입니다.">선취판매수수료</th>
                                        <td colspan="3">납입금액의 0.70% 이내</td>
                                    </tr>
                    
                                    <tr>
                                        <th scope="row" title="운용의 안정성과 투자자간의 형평성 유지를 위해&#10;펀드 가입 후 일정기간 이내에 환매할 경우 부과되는&#10;수수료 입니다. ">환매수수료</th>
                                        <td colspan="3">해당사항 없음</td>
                                    </tr>
                    
                                    <tr>
                                        <th scope="row" title="판매회사">판매회사</th>
                                        <td colspan="3">국민은행, 대구은행, 부산은행, 한국스탠다드차타드은행, 한국씨티은행, KB증권</td>
                                    </tr>
                                    </tbody>
                                </table>                    
                            </div>
                        </div>

                        <div class="portfolio-one">
                            <div class="portfolio-content">
                                <h4 class="title"><b>펀드가입시 유의사항</b></h4><br />
                                <p>펀드의 수익률은 세금공제 전의 수익률이므로 투자자(수익자)가 환매(출금)하는 경우 실제 실현수익률과는 세금만큼의 차이가 발생할 수 있습니다.<br />또한 투자자가 환매 수수료 부과기간 이내에 환매하는 경우에는 환매수수료 만큼의 차이가 추가로 발생할 수 있습니다.<br />집합투자증권은 운용결과에 따른 이익 또는 손실이 투자자에게 귀속됩니다.<br />집합투자증권을 취득하시기 전에 투자대상, 보수, 수수료 및 환매방법 등에 관하여 (간이)투자설명서를 반드시 읽어 보시기 바랍니다.<br />이 금융투자상품(집합투자증권)은 예금자보호법에 따라 예금보험공사가 보호하지 않습니다.<br />과거의 운용실적이 미래의 수익률을 보장하는 것은 아닙니다.<br />외화자산의 경우 환율변동에 따라 손실이 발생할 수 있습니다.<br />MMF는 시가와 장부가의 차이가 ±0.5%를 초과하거나 초과할 우려가 있는 경우 기준가격 적용기준이 적용기준시가로 전환됩니다.<br />하이일드채권은 투자원금 손실이 크게 발생할 수 있습니다.<br />월지급식펀드 상품은 투자(운용)결과가 부진할 경우 월지급액이 투자원금에서 지급되어 투자원금이 감소될 수 있으며, 경우에 따라서는 월지급이 조기에 중단될 수 있습니다.<br />과세기준 및 과세방법은 향후 세법개정 등에 따라 변동될 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End section1 -->

    <!-- Start footer -->
{% endblock %}