{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block content %}

    <!-- Start portolio -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="section-heading text-center">
                    <div class="col-md-12 col-xs-12">
                        <h1>현재 가입 가능한 상품은<span> 2건 </span>입니다.</h1><br /><br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 portfolio-item">
                    <div class="portfolio-one">
                        <div class="portfolio-head">
                            <div class="portfolio-img"><img alt="" src="{% static './img/funding/mirae.png' %}"></div>
                            <div class="portfolio-hover">
                                <a class="portfolio-zoom" href="{% url 'detail' %}">신청하기</a>
                            </div>
                        </div>
                        <!-- End portfolio-head -->
                        <div class="portfolio-content">
                            <div class="row">
                                <div class="column1">
                                    <p>12.21%<br />수익률</p>
                                </div>
                                <div class="column1">
                                    <p>10년<br />가입기간</p>
                                </div>
                                <div class="column1">
                                    <p>20년<br />보증기간</p>
                                </div>
                                <div class="column1">
                                    <p>최소 펀딩<br />월 10만원</p>
                                </div>
                            </div>
                        </div>
                        <!-- End portfolio-content -->
                    </div>
                    <!-- End portfolio-item -->
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 portfolio-item">
                    <div class="portfolio-one">
                        <div class="portfolio-head">
                            <div class="portfolio-img"><img alt="" src="{% static './img/funding/kiwoom.jpg' %}"></div>
                            <div class="portfolio-hover">
                                <a class="portfolio-zoom" href="{% url 'detail' %}">신청하기</a>
                            </div>
                        </div>
                        <!-- End portfolio-head -->
                        <div class="portfolio-content">
                            <div class="row">
                                <div class="column1">
                                    <p>14.71%<br />수익률</p>
                                </div>
                                <div class="column1">
                                    <p>20년<br />가입기간</p>
                                </div>
                                <div class="column1">
                                    <p>30년<br />보증기간</p>
                                </div>
                                <div class="column1">
                                    <p>최소 펀딩<br />월 20만원</p>
                                </div>
                            </div>
                        </div>
                        <!-- End portfolio-content -->
                    </div>
                    <!-- End portfolio-item -->
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 portfolio-item">
                    <div class="portfolio-one">
                        <div class="portfolio-head">
                            <div class="portfolio-img"><img alt="" src="{% static './img/funding/ing.png' %}"></div>
                        </div>
                        <!-- End portfolio-head -->
                        <div class="portfolio-content">
                            <div class="row">
                                <div class="column1">
                                    <p>11.01%<br />수익률</p>
                                </div>
                                <div class="column1">
                                    <p>10년<br />가입기간</p>
                                </div>
                                <div class="column1">
                                    <p>20년<br />보증기간</p>
                                </div>
                                <div class="column1">
                                    <p>최소 펀딩<br />월 15만원</p>
                                </div>
                            </div>
                        </div>
                        <!-- End portfolio-content -->
                    </div>
                    <!-- End portfolio-item -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 portfolio-item">
                    <div class="portfolio-one">
                        <div class="portfolio-head">
                            <div class="portfolio-img"><img alt="" src="{% static './img/funding/ing.png' %}"></div>
                        </div>
                        <!-- End portfolio-head -->
                        <div class="portfolio-content">
                            <div class="row">
                                <div class="column1">
                                    <p>13.11%<br />수익률</p>
                                </div>
                                <div class="column1">
                                    <p>10년<br />가입기간</p>
                                </div>
                                <div class="column1">
                                    <p>20년<br />보증기간</p>
                                </div>
                                <div class="column1">
                                    <p>최소 펀딩<br />월 20만원</p>
                                </div>
                            </div>
                        </div>
                        <!-- End portfolio-content -->
                    </div>
                    <!-- End portfolio-item -->
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 portfolio-item">
                    <div class="portfolio-one">
                        <div class="portfolio-head">
                            <div class="portfolio-img"><img alt="" src="{% static './img/funding/ing.png' %}"></div>
                        </div>
                        <!-- End portfolio-head -->
                        <div class="portfolio-content">
                            <div class="row">
                                <div class="column1">
                                    <p>9.51%<br />수익률</p>
                                </div>
                                <div class="column1">
                                    <p>20년<br />가입기간</p>
                                </div>
                                <div class="column1">
                                    <p>30년<br />보증기간</p>
                                </div>
                                <div class="column1">
                                    <p>최소 펀딩<br />월 10만원</p>
                                </div>
                            </div>
                        </div>
                        <!-- End portfolio-content -->
                    </div>
                    <!-- End portfolio-item -->
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 portfolio-item">
                    <div class="portfolio-one">
                        <div class="portfolio-head">
                            <div class="portfolio-img"><img alt="" src="{% static './img/funding/ing.png' %}"></div>
                        </div>
                        <!-- End portfolio-head -->
                        <div class="portfolio-content">
                            <div class="row">
                                <div class="column1">
                                    <p>13.01%<br />수익률</p>
                                </div>
                                <div class="column1">
                                    <p>10년<br />가입기간</p>
                                </div>
                                <div class="column1">
                                    <p>20년<br />보증기간</p>
                                </div>
                                <div class="column1">
                                    <p>최소 펀딩<br />월 20만원</p>
                                </div>
                            </div>
                        </div>
                        <!-- End portfolio-content -->
                    </div>
                    <!-- End portfolio-item -->
                </div>
            </div>

        </div>
    </section>

{% endblock %}