{% extends 'base.html' %}

{% load staticfiles %}
    <!-- Start banner -->
    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2>PLANS WITH MOVEPLAN</h2>
            </div>
        </div>
    </section>
    <!-- End banner -->
{% block content %}
    <!-- Start section1 -->
    <section id="history-page-section-1" style="background-color: rgb(235, 235, 235);">
        <div class="container">
            <div class="row">
                <div class="col-md-2 history-page-section-1-1">
                    &nbsp;
                </div>
                <div class="col-md-2 history-page-section-1-2" style="color: #159eee">
                    전체[2]
                </div>
                <div class="col-md-2 history-page-section-1-2">
                    상환중[2]
                </div>
                <div class="col-md-2 history-page-section-1-2">
                    상환지연[0]
                </div>
                <div class="col-md-2 history-page-section-1-2">
                    연체[0]
                </div>
                <div class="col-md-2 history-page-section-1-2">
                    상환완료[0]
                </div>

                <div class="col-md-2 history-page-section-1-3">
                    <p style="color: #159eee" class="history-page-section-1-4">정현욱님</p><br /><br />
                    <p>펀딩내역</p><br />
                    <p>나의계좌</p><br />
                    <p>거래내역</p><br />
                    <p>회원정보</p><br />
                </div>

                <div class="col-md-10">
                    <div class="col-md-6">
                        <br /> 
                        <img src="{% static './img/history/1.png' %}" style="width: 50%; height: auto; border: 1px solid black;" alt=""><br /><br />
                        <p>상환중</p><br />
                        <p>키움증권 연 수익률 14.71% 생애주기편</p>
                        <p>가입일 : 2019/11/17<br />만료일 : 2039/11/17</p><br />
                        <p>정현욱님 펀딩 금액 : 20만원</p>
                        <p>예상 수익률 : 14.71%</p>
                    </div>
                    <div class="col-md-6" style="border-left: 1px solid black;">
                        <br />
                        <img src="{% static './img/history/2.png' %}" style="width: 50%; height: auto;" alt=""><br /><br />
                        <p>상환중</p><br />
                        <p>키움증권 연 수익률 12.21% 생애주기편</p>
                        <p>가입일 : 2019/11/17<br />만료일 : 2029/11/17</p><br />
                        <p>정현욱님 펀딩 금액 : 10만원</p>
                        <p>예상 수익률 : 12.21%</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End section1 -->

</body>
</html>
{% endblock %}