{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block content %}

    <section id="login-reg">
        <div class="container">
            <!-- Top content -->
            <div class="row">
                <div class="col-md-6 col-sm-12 forms-right-icons">
                    <div class="section-heading">
                        <h2>MOVEPLAN  <span>Together</span></h2>
                        <p class="subheading">"무브플랜은 세상의 모든 직장인들의 이직과 퇴직에 대한 고민을 함께합니다"
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 icon"><i class="fa fa-bullhorn"></i></div>
                        <div class="col-xs-10 datablock">
                            <h4>역경매 방식의 연금관리</h4>
                            <p>낮은 수익률의 퇴직연금을 지금부터 관리하세요. 무브플랜이 저렴한 가격에 퇴직연금의 수익률을 높여드립니다</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-2 icon"><i class="fa fa-support"></i></div>
                        <div class="col-xs-10 datablock">
                            <h4>간편한 입력으로 연금정보를 제공합니다.</h4>
                            <p>이제 평생직장이란 말은 옛말입니다. 잦은 이직으로 인해 관리되지않는 나의 노후대비 지금부터 함께하세요</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-12">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>방문해주셔서 감사합니다</h3>
                                <p>MOVE YOUR PLAN</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <!-- <form role="form" action="{% url 'login' %}" class="login-form"> -->
                            <form method = "POST" action="{% url 'login' %}" class="login-form">
                                {% csrf_token %}
                                <div class="input-group form-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                    <input type="text" name = 'userid' class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group form-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock"></i></span>
                                    <input type="password" name = 'userpassword' class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                                </div>
                                <button type="submit" class="btn">Sign in!</button>
                            </form>
                        </div>
                    </div>

                    <div class="social-login">
                        <div class="social-login-buttons">
                            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>

                </div>
    </section>


</body>
</html>
{% endblock %}